body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.header {
  background-color: #2f80ed;
  padding: 15px 0;
}

.nav {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.nav a {
  color: white;
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  background: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 14px 30px;
  background-color: #2f80ed;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.btn:hover {
  background-color: #1c5db6;
}
.contacts {
  list-style: none;
  padding: 0;
}

.contacts li {
  margin: 10px 0;
}